<li class="collection-item avatar">
  <img src={{imgLink}} alt="" class="circle">
  <span class="title article-headline">{{headline}}</span>
  <p class="article-desc">{{description}}</p>
  <a href="comment/{{_id}}">Comment</a>
</li>