<div id="home">
  <div class="heading-wrapper">
    <a href="/" class="white-link"><h2>THE HEADLINER</h2></a>
  </div>
  <div class="body-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h4>{{headline}}</h4>
          <ul class="collection">
            {{#if comments}}
              {{#each comments}}
                {{> comment-block}}
              {{/each}}
            {{else}}
              <span class="no-comments">No comments yet...</span>
            {{/if}}

          </ul>
          <input placeholder="Enter your name..." id="user" type="text">
          <input placeholder="Enter your comment here..." id="newComment" type="text" class="validate">
          <button class="btn waves-effect waves-light" type="submit" name="action" id="submitComment" data-id="{{_id}}">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>