* {
  font-family: 'B612 Mono', monospace;
}

.heading-wrapper {
  background-color: #333333;
  color: #ffffff;
  height: 110%;
  padding: 15px;
}

.white-link {
  color: #ffffff;
}

h2 {
  margin: 0;
}

.body-wrapper {
  margin-top: 30px;
}

.article-headline {
  color: #222222;
  font-weight: 700;
}

.article-desc {
  color: #444444;
  font-size: 14px;
}

.no-comments {
  padding: 15px 0 15px 5px;
  height: 100%;
}